
/**************************Meterial icons********************/

.material-icons{
    vertical-align: middle;
}
/**************************Meterial icons********************/


body{
    margin: 0;
}
.top-bar{
    background: linear-gradient(to right, #3db570 0%, #61b3b6 100%);
    
}

.header-top-left ul li{
    color: #fff;
    font-size:12px;

}
.header-top-left ul{
    margin-top: 10px;
}
.header-top-right{
    align-items: center !important;
}
.nav-link{
    text-transform: uppercase;

}
.nav_style {
    background-color: #fff;
}
.navbar-nav li a{
    color: #333;
    position: relative;
}
.navbar-nav li a:before{
    content: '';
    top: 100%;
    width: 0%;
    height: 3%;
    bottom: 8px;
    position: absolute;
    background:  #333;
    transition: all 0.3s linear;
}
.navbar-nav li a:hover:before{
    width:8%;
}



.navbar-nav li ul{
    justify-content: center;

}
/*******************************Slider SECTION Starts*********************************************/

.my-slider{
    width: 100%;
}
#mainslider{
    padding-top: 20px;

}
.slider_head{
    text-transform: uppercase;
    font-weight: 40px;
    color: #4863A0;
    margin-top: 10px;
}
.slider_para{
    line-height: 2  5px;
    color: #827464;
}
.slider_head_sec{
    font-size: 35px;
}
/*******************************Slider SECTION Ends*********************************************/

/*******************************Features SECTION Starts*********************************************/


.feature-box {
    box-shadow: -10px 10px 20px 0px rgb(0 0 0 / 15%);
}


.features-name  {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
    margin: 0;

}
.feature-text-center{
    margin: 0 auto!important;
}

#features
{
    justify-content: center;
    align-items: center;
      background-size: cover;
    background-position: center;
    background-image: url(../img/services-background.png);

}
#features .box-img{
    max-width: 100px;
    padding: 20px 0px;
    margin: 0 auto;
}
#about {
    background-image: url(../img/about-background.png);
    background-size: cover;
}

/*******************************Features SECTION endS*********************************************/


/*******************************ABOUT SECTION STARTS*********************************************/

.feature_head_text,
.about_head_text,
.client_head_text,
.contact_head_text {
    margin: 0 auto;
    letter-spacing: 9px;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding: 0px 30px 10px;
}

.feature_head_brand{
    color: #333;
    border-bottom: 1px solid #333;
}

.about_head_brand{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.client_head_brand{
    color: #333;
    border-bottom: 1px solid #333;
}

.spacer{
    padding-top: 75px;
}
.about_box{
    width: 80%;
    display: inline-block;
}

.about_heading{
     color: #fff;
     text-transform: uppercase;
     line-height: 20px;
     font-size: 35px;
     padding-bottom:5px;
     font-weight: 200;   
}
.about_details{
      color: #fff;
     line-height: 20px;
     text-indent: italics ;
     padding-top: 10px;
     font-weight: 200;

}

.about_sub_heading{
    color: #96ee72;
    font-size: 36px;
    line-height: 43px;
    font-weight: bolder;

}
.about-btn {
    color: #114f62;
    background-color: #e1e1e1;
    border: 2px solid #e1e1e1;
    font-size: 16px;
}
.about-btn:hover{
    background-color: transparent!important;
}

/*******************************ABOUT SECTION ends*********************************************/

/*******************************Clients SECTION starts*********************************************/

.client_num{
    font-size: 225px;
    font-weight: bold;
    color: #4da158;
    text-align: right !important;
    padding: 0px;
    margin-top: 27px;


}
.client_years{
    font-size: 30px;
     margin-top: 56px;
    font-weight: 300;
    line-height: 20%;
    text-transform: uppercase !important;
}
.year-text b{
    color: #4da158;
    line-height: 38px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 40px;
}


/*Section 2 in Client*/
.client_data b{
    font-size: 45px;

}

.border_1{
    border-left: 2px solid;
    color: #333;

}

.border_2{
    border-left: 2px solid;
    color: #333;
}
.row_1{
    border-bottom: 2px solid;
    color: #333;
}

.row_2{
    border-bottom: 2px solid;
    color: #333;
}
.text_project{
    color: #499c53;
}
/***********************************Section 2 in Client Ends****************************************/

/*********************************** Footer Starts ****************************************/


 .main_footer
{
    background-image: url(../img/ft-background.png)!important;
}

.footer_para{
    color: #fff;
    padding-top: 10px;
}


/*********************************** Footer Ends ****************************************/
